@tailwind base;
@tailwind components;
@tailwind utilities;


a,a:hover{
  text-decoration: none!important;
  transition: all .3s;
}
.contenedor{


  max-width: 1200px;
  width: 90%;
  margin: auto;
}


#capturaPago{

  width: 180px!important;
  max-width: 180px!important;
  position: relative;
  left: 50%;
  transform:translateX(-50%);
  cursor: pointer;

}

.header{

  background: rgb(131,211,203);
  text-shadow: 1px 1px 3px rgba(0,0,0,.5);
}

.foto-perfil{

  width: 100px;
}

.logo-mini img{

  padding:10px
}

.logo-lg img{

  padding:10px 0 ;
}

.wrapper{

  height: 100vh!important;
  min-height: 100%!important;
}

.content-wrapper{

  min-height: 100vh!important;
}

.logo-login{

  width: 150px;
 margin: auto;
}

@media(max-width:768px){

  .logo-lg img{

    width: 200px;
    
    height: 62px;
    margin: auto;

  }

}


/*CALENDARIO FULL  CALENDAR*/
.pintar-fecha-seleccionada{

background-color: rgb(131,211,203,.6);
color: rgb(35,82,124)!important;


}

.pintar-fecha-seleccionada .fc-daygrid-day-top a{
  font-size: 25px!important;
  text-align: center;
  display: inline-block;
  width: 100%;
  font-weight: bold;
 

}


.fc-day {
  cursor: pointer;
  
}

#calendar{


   width: 800px;
    /*height: 200px;*/
    margin: auto;

}

.fc-prev-button,
.fc-next-button {
  font-size: 10px!important; /* Ajusta el tamaño según sea necesario */
  width: 30px!important; /* Ajusta el ancho según sea necesario */
  height: 30px!important; /* Ajusta la altura según sea necesario */
}

.vacio{

  font-weight: bold;
  text-align: center;

}

/*DATE PICKER*/

.ui-datepicker {
  z-index: 9999 !important;
}

.pintar-texto-rojo {

  
  color: #333333;

 

}


.posicionar-x{

  margin-top: -20px!important;
  opacity: 1;

}



.contenedor-horas{

  margin-top: 2rem;

}
.horas{

  display: grid;
  grid-template-columns: repeat(5 , 1fr);
 

}

.horas span{

  background-color: gray;
  border: 1px solid white;
  text-align: center;
  padding: .5rem;
  cursor: pointer;


}

.horas span:hover{

  color:white;
  

}

.activo{

  color: white;
  font-weight: bold;
  background-color: orange!important;

}


.reserva-aceptada td{

  background-color: rgba(131, 211, 203, .3)!important;
  color:  #333;
  border:2px solid white;
 

}

.fondo-aceptar-reserva{

  background-color: white!important;
  color:  #333;


}

#ocultar-fila{

  display: none!important;
}